<mat-card>
    <mat-card-title>Détails du Partenaire</mat-card-title>
    <mat-card-content>
      <p><strong>Alias :</strong> {{ partner.alias }}</p>
      <p><strong>Type :</strong> {{ partner.type }}</p>
      <p><strong>Direction :</strong> {{ partner.direction }}</p>
      <p><strong>Application :</strong> {{ partner.application }}</p>
      <p><strong>Processed Flow Type :</strong> {{ partner.processedFlowType }}</p>
      <p><strong>Description :</strong> {{ partner.description }}</p>
    </mat-card-content>
    <mat-card-actions>
      <button mat-button color="warn" (click)="close()">Fermer</button>
    </mat-card-actions>
  </mat-card>
  